@import "reset.css";
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}
main {
  height: 80vh;
  width: 70vw;
  backdrop-filter: blur(5px) /* grayscale(0.5) */ opacity(1);
    /* background-color: rgba(241, 0, 0, 0.2); */
    border: solid rgba(30, 30, 30, 0.1) 4px;
    border-radius: 1rem;
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}
h1 {
  font-size: 10vh;
}
section.menu {
  height: 6rem;
  width: 70vw;
  max-width: 40rem;
  border: solid rgba(30, 30, 30, 0.2) 4px;
  display: flex;
  border-radius: 1rem;
  /* margin-bottom: 1rem; */
  overflow: hidden;
  box-sizing: border-box;
  /* background-color: rgba(200, 200, 200, 0.5); */
}
.listen {
  height: 100%;
  width: calc(100% - 11rem); 
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.listendark {
  height: 100%;
  width: calc(100% - 11rem); 
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.textincome {
  height: 100%;
  width: 94%;
  padding-left: 8px;
  border: none;
  /* border-right: solid rgba(30, 30, 30, 0.2) 2px; */
}
.textincome:focus{
  border: none;
}
.taskAddHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  
}
.taskAdder {
  height: 2rem;
  width: 80%;
  background-color: rgba(200, 200, 200, 0.5);
  border: solid rgba(30, 30, 30, 0.2) 4px;
  border-radius: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.add {
  height: 100%;
  width: 2rem;
  background-color: white;
  padding-right: 10px;
  font-size: 1.8rem;
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add:hover {
  cursor: pointer;
}
.searchbar {
  height: 2rem;
  width: 80%;
  background-color: rgba(200, 200, 200, 0.5);
  border: solid rgba(30, 30, 30, 0.2) 4px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} 
.loupe {
  height: 100%;
  width: 2rem;
  background-color: white;
  padding-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
section.allTasks {
  height: 44vh;
  width: 70vw;
  scroll-margin-block-end: inherit;
  overflow-x: scroll;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: content-box;
  /* background-color: rgba(200, 200, 200, 0.5);
  border: solid rgba(200, 200, 200, 0.5) 4px; */
}
.scrollable {
  height: 100%;
  width: 100%;
}
.checkbox {
  background-color: orangered;
  /* ne marche pas (n'est pas personalisable?) */
}
.checkbox:hover {
  cursor: pointer;
}
.task {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash {
  height: 2rem;
  width: 2rem;
  background: rgba(255,0,0,0.1);
  border: solid rgba(255,0,0,0.1) 3px;
  border-radius: 1rem;
}
.trash:hover {
  cursor: pointer;
}
.taskToDo {
  min-height: 2rem;
  width:calc(100% - 10px);
  background: rgba(255,0,0,0.1);
  border: solid  rgba(255,0,0,0.1) 4px;
  margin: 2px;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.taskDone {
  min-height: 2rem;
  width:calc(100% - 10px);
  background-color: rgba(0,255,0,0.1);
  border: solid rgba(0,255,0,0.1) 4px;
  text-decoration: line-through;
  margin: 2px;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ghost {
  height: 100%;
  width: 5.5rem;
  background-image: url("../public/questionmark.jpeg");
  background-size: cover; 
  border: none;
}
.ghost:hover {
  cursor: pointer;
}
.theme {
  height: 100%;
  width: 5.5rem;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.theme img {
  height: 100%;
}
.themebar {
  height: 1rem;
  width: 3rem;
  background-color: rgba(30, 30, 30, 0.8);
  border: solid rgba(30, 30, 30, 0.8) 2px;
  border-radius: 0.5rem;
  margin-left: 1.2rem;
  position: absolute;
  top: 3.2rem
}
.themecommand {
  height: 1.6rem;
  width: 1.6rem;
  background-color: lightgreen;
  border: solid rgba(0, 0, 0, 0.8) 4px;
  border-radius: 0.8rem;
  position: absolute;
  left: -0.3rem;
  top: -0.3rem;
  animation: commandmoveback 0.6s;

}
.darkthemecommand {
  height: 1.6rem;
  width: 1.6rem;
  background-color: darkslategray;
  border: solid rgba(0, 0, 0, 0.8) 4px;
  border-radius: 0.8rem;
  position: absolute;
  left: 1.6rem;
  top: -0.3rem;
  animation: commandmove 0.6s;
}
.themecommand:hover {
  cursor: pointer;
}
.darkthemecommand:hover {
  cursor: pointer;
}

.darktheme {
   background-image: url("../public/darkbackground.jpg");
   background-size: cover;
   color: white;
}
.daytheme {
  background-image: url("../public/daybackground.jpeg");
  background-size: cover;  
}
footer {
  height: 20vh;
  width: 100vw;
  background-color: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(5px)
}
@keyframes commandmove {
  from {left: -0.3rem;
    background-color: lightgreen}
    to{left: 1.6rem;
    background-color: darkslategray;}
}
@keyframes commandmoveback {
  from {left: 1.6rem;
  background-color: darkslategray;}
  to { left: -0.3rem;
    background-color: lightgreen;
  }
}


